<div class="thumbnail">
  <i class="tag"></i>
  <a href="product_details.html">
    <%= image_tag product.image.url %>
  </a>
  <div class="caption" style="white-space: nowrap;">
    <h5><%= product.name %></h5>
    <h4>
      <%= link_to "VIEW", product, class: "btn" %>
      <span class="pull-right">$<%= product.price %></span>
    </h4>
  </div>
</div>
