<div class="well well-small">
  <h4>Featured Products
  </h4>
  <div class="row-fluid">
    <div id="featured" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <% Product.all[0..3].each do |p| %>
              <li class="span3">
                <%= render "feature_product", product: p %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="item">
          <ul class="thumbnails">
            <% Product.all[4..7].each do |p| %>
              <li class="span3">
                <%= render "feature_product", product: p %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
  </div>
</div>
