<h4>Latest Products </h4>
<ul class="thumbnails">
  <%= paginate @products %>
  <% @products.each do |p| %>
    <li class="span3">
      <%= render "latest_product", product: p %>
    </li>
  <% end %>
</ul>
