<div class="thumbnail">
  <a href="product_details.html">
    <%= image_tag product.image.url %>
  </a>
  <div class="caption">
    <h5><%= product.name %></h5>
    <p>
      Some description
    </p>
    <h4 style="text-align:center">
      <%= link_to fa_icon("search-plus"), product, class: "btn" %>
<!--      <div id=<%#= "form_add_product_#{product.id}" %>>-->
        <%#= form_tag carts_path, remote: true do %>
          <%#= hidden_field_tag "btn_type", "add" %>
          <%#= hidden_field_tag "product_id", product.id %>
          <%#= button_tag "Add", class: "btn"%>
        <%# end %>
<!--      </div>-->
<!--      <div hidden id=<%#= "form_remove_product_#{product.id}" %>>-->
        <%#= form_tag carts_path, remote: true do %>
          <%#= hidden_field_tag "btn_type", "remove" %>
          <%#= hidden_field_tag "product_id", product.id %>
          <%#= button_tag "Remove", class: "btn"%>
        <%# end %>
<!--      </div>-->
<!--      <a class="btn" href="#">Add to <%#= fa_icon "shopping-cart" %></i></a>-->
      <span class="btn btn-primary" href="#">
        $<%= product.price %>
      </span>
    </h4>
  </div>
</div>
