<div id="sidebar" class="span3">
  <ul id="sideManu" class="nav nav-tabs nav-stacked">
    <% @categories.each do |category| %>
      <li class="subMenu open">
        <%= link_to category.name, category %>
      </li>
    <% end %>
  </ul>
</div>
