<div id="welcomeLine" class="row">
  <div class="span6">Welcome! <strong><%= current_user.name %></strong></div>
  <div class="span6">
    <div class="pull-right">
      <span class="btn btn-mini">$0</span>
      <a href="product_summary.html">
            <span class="btn btn-mini btn-primary">
            <%= fa_icon "shopping-cart" %> [ 0 ] Items in your cart </span>
      </a>
    </div>
  </div>
</div>
